In [6]:
sales_data = [[201703, 'Bob', 3000], [201703, 'Sarah', 6000], [201703, 
'Jim', 9000], [201704, 'Bob', 8000], [201704, 'Sarah', 7000], [201704, 
'Jim', 12000], [201705, 'Bob', 15000], [201705, 'Sarah', 14000], [201705, 
'Jim', 8000], [201706, 'Bob', 10000], [201706, 'Sarah', 18000]]
sales_data

[[201703, 'Bob', 3000],
 [201703, 'Sarah', 6000],
 [201703, 'Jim', 9000],
 [201704, 'Bob', 8000],
 [201704, 'Sarah', 7000],
 [201704, 'Jim', 12000],
 [201705, 'Bob', 15000],
 [201705, 'Sarah', 14000],
 [201705, 'Jim', 8000],
 [201706, 'Bob', 10000],
 [201706, 'Sarah', 18000]]

In [2]:
sorted_sales_data = sorted(sales_data, key=lambda x: -x[2])
date_list = []
sales_ranks = []

In [7]:
for i in sales_data:
    date_list.append(i[0])
    print(date_list)

[201703, 201703, 201703, 201704, 201704, 201704, 201705, 201705, 201705, 201706, 201706, 201703]
[201703, 201703, 201703, 201704, 201704, 201704, 201705, 201705, 201705, 201706, 201706, 201703, 201703]
[201703, 201703, 201703, 201704, 201704, 201704, 201705, 201705, 201705, 201706, 201706, 201703, 201703, 201703]
[201703, 201703, 201703, 201704, 201704, 201704, 201705, 201705, 201705, 201706, 201706, 201703, 201703, 201703, 201704]
[201703, 201703, 201703, 201704, 201704, 201704, 201705, 201705, 201705, 201706, 201706, 201703, 201703, 201703, 201704, 201704]
[201703, 201703, 201703, 201704, 201704, 201704, 201705, 201705, 201705, 201706, 201706, 201703, 201703, 201703, 201704, 201704, 201704]
[201703, 201703, 201703, 201704, 201704, 201704, 201705, 201705, 201705, 201706, 201706, 201703, 201703, 201703, 201704, 201704, 201704, 201705]
[201703, 201703, 201703, 201704, 201704, 201704, 201705, 201705, 201705, 201706, 201706, 201703, 201703, 201703, 201704, 201704, 201704, 201705, 201705]
[201703, 201703, 201703, 201704, 201704, 201704, 201705, 201705, 201705, 201706, 201706, 201703, 201703, 201703, 201704, 201704, 201704, 201705, 201705, 201705]
[201703, 201703, 201703, 201704, 201704, 201704, 201705, 201705, 201705, 201706, 201706, 201703, 201703, 201703, 201704, 201704, 201704, 201705, 201705, 201705, 201706]
[201703, 201703, 201703, 201704, 201704, 201704, 201705, 201705, 201705, 201706, 201706, 201703, 201703, 201703, 201704, 201704, 201704, 201705, 201705, 201705, 201706, 201706]

In [8]:
sorted_dates = sorted(set(date_list), reverse=True)
sorted_dates

[201706, 201705, 201704, 201703]

In [12]:
for i in sorted_dates:
    tmp_lst = []
    tmp_lst.append(i)
    print(tmp_lst)
    for j in sorted_sales_data:
        if j[0] == i:
            tmp_lst.append(j[1])
            #print(tmp_lst)
    sales_ranks.append(tmp_lst)

#print(sales_ranks)

[201706]
[201705]
[201704]
[201703]